.mainPanel {
  height: 100%;
  width: 85%;
  float: right;
  display: table-cell;
}
.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 698px;
  width: 1347px;
  display: table;
  overflow: hidden;
  font-family: Lato;
  font-size: 16px;
}
.sidebarContainer {
  height: 100%;
  width: 15%;
  float: left;
  background-color: #646464;
  display: table-cell;
}
.content {
  margin-right: 5%;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 20px;
  min-height: 422px;
}
.forFooter {
  height: 50px;
  width: 100%;
  background-color: #373737;
  /* color: white; */
}

.overview-container {
  width: 100%;
  min-height: 400px;
}
.overview-table {
  float: left;
  width: 50%;
  margin-right: 5%;
}

.overview-graph {
  float: right;
}
#lineView{
  margin-right: 80px;
  // margin-left: 10px;
}
ul{
  text-align: left;
}
li{
  display: inline;
}
.li-item:hover, .li-item:active, .li-item:visited{
  color: #4D96CC;
}
// .dashboard-container {
//     display: flex;
//     flex-direction: row;

//     .content-wrapper{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: -webkit-fill-available;

//         .overview-container{
//             display: flex;
//             flex-direction: row;
//             justify-content: center;

//             .overview-table{
//                 // border: 1px solid red;
//                 margin:25px;
//                 display: flex;
//             }
//             .table-container{
//                 border: 1px solid red;
//             }
//             .overview-graph {
//                 // border: 1px solid blue;
//                 margin: 30px;
//             }
//         }

//         .footer-container{
//             min-height: 8vh;
//             border-radius: 10px;
//             background-color: black;
//         }
//     }
// }