.footer-control {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 10px;
//   padding-bottom: 20px;
  color: white; 
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
